<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Radius</string>
	<key>ordering</key>
	<array>
		<string>EE991CFA-6906-4ED2-B423-CB10DBA978C0</string>
		<string>D6013D1E-E9F2-4518-B5C7-9A52706E03CB</string>
		<string>A726B263-67E2-4A7C-8A11-AF6236C6C75E</string>
		<string>2C175F42-6031-413A-AEEC-4CB6D3E3A4D1</string>
		<string>3E672C21-84B0-4747-B106-FDEFD5705404</string>
		<string>674B3390-5D97-4685-B1EC-BECE1D56C867</string>
		<string>997ADD5D-CB48-4CBB-B3BB-55506F205C52</string>
	</array>
	<key>uuid</key>
	<string>CF70FC0D-9833-4DAD-98B2-DC1DB9F176FD</string>
</dict>
</plist>
